body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    ;
}

h1 {
    font-size: 40;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 0px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px, 40px;
    color: white;
    font-weight: 700;
    border-radius: 5;
}

.top-banner {
    background-image: url(bello-bello-phiotio.avif);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(bello-bello-phiotio.avif);
    background-repeat: no-repeat;
    background-position: right;
}